// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 Ronetix
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mn.dtsi"
#include "imx8mn-ronetix.dtsi"

/ {
	model = "Ronetix i.MX8MN-COMPACT-CM SoM";
	compatible = "ronetix,imx8mn-compact-cm", "fsl,imx8mn";

	/* 512 MiB @ 0x40000000 */
	memory@40000000 {
		device_type = "memory";
		reg = <0x00000000 0x40000000 0 0x20000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		rpmsg_reserved: rpmsg@0x38000000 {
			no-map;
			reg = <0 0x38000000 0 0x400000>;
		};
	};

	resmem: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			/*
			 * 0x04000000 -  64 MB
			 * 0x10000000 - 256 MB
			 * 0x18000000 - 384 MB, when CSI is used
			 */
			size = <0 0x04000000>;
			alloc-ranges = <0 0x40000000 0 0x40000000>;
			linux,cma-default;
		};
	};

	chosen {
		stdout-path = &uart2;
	};

	reg_usb_otg1_vbus: regulator-usb-otg1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&usbotg1 {
	vbus-supply = <&reg_usb_otg1_vbus>;
	status = "okay";
};
